
/* 'Roboto Mono', monospace; */
body{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size:60px;
    color: white;
}
h3{
    font-family:'Roboto Mono', monospace;
    color:#ff6205;
}
h4{
    font-size:22px;
}
.wrapper{
    padding:50px 0;
    display:flex;
    flex-wrap:wrap;
   width:85%;
   margin:auto;
   justify-content: center;
}

.box{
   margin:25px;
    width:20%;
    height:250px;
    /* border:3px solid darkgrey; */
    border-radius:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:30px;
    background-color:#f3f3f3;
    box-shadow: 5px 3px 3px grey;
    transition: transform .2s;
}
.box:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
    background-color:rgb(212, 211, 211);
  }
a{
    text-decoration:none;
}


/*   --------------------navbar------------------ */
.right{
    display:flex;
}
nav{
    height:90px;
    display:flex;
    justify-content: space-between;
    
    font-size:25px;
    /* overflow: hidden; */
    /* background-color: #333; */
background-color: #f9f9f9;
    position: relative;
      
}
  nav #myLinks {
    display: none;
  }
#myLinks{
    margin-top:90px;
   /*  text-align:center; */
    
}
  nav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
   /*  font-size: 17px; */
    display: block;
    background-color: #f9f9f9;
   }
  .links{
    font-size:20px;
    width:400px;
    height:70px;
    background-color:#f9f9f9;
  }

  nav a.icon {
   /*  background: black; */
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .right a:hover {
    background-color:  rgb(207, 207, 207);
    color: black;
  }
#logo{
    font-size:30px;
}
/*   .active {
    background-color: #4CAF50;
    color: white;
  } */
  .hero{
        background-image:url('images/byggproduktionsledare_nyproduktion_thumb.jpg');
            display:flex;
            justify-content: center;
            align-items: center;
            height: 500px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
           /*  position: relative; */
        }
       
/*   --------------------info om skolan------------------ */
.hero-info{
    background-image:url('images/byggproduktionsledare_nyproduktion_thumb.jpg');
        display:flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
       /*  position: relative; */
    }
   
.info-box{
   width:20%;
    font-size:19px;
   /*  border:1px solid black; */
   border-radius:10px;
    height:200px;
    margin:25px;
    padding: 50px;
   /*  text-align:center; */
    background-color:#f3f3f3;
}
.info-heading{
    color:black;
}
.info{
    text-align:center;
}
.icon{
    font-size:50px;
    color:#ff6205;
}

/*   --------------------CSN------------------ */
.hero-csn{
    background-image:url('images/byggproduktionsledare_nyproduktion_thumb.jpg');
        display:flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
       /*  position: relative; */
    }
   
  .csn-container{
      width:50%;
      height:600px;
    /*   border:1px solid black; */
    padding: 40px;
      font-size:20px;
  }

  #csn-video{
      padding:30px;
  }
  #csn-link{
      text-decoration:underline;
  }


  /*--------------------FAQ------------------*/
  .hero-faq{
    background-image:url('images/entrprenad-ingengor_thumb.jpg');
        display:flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
       /*  position: relative; */
    }
    
  .collapse {
   /*  background-color: #777; */
    /* color: white; */
    background-color:#e7e5e5;
    color:#ff6205;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    margin:2px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
  }
  
  .active, .collapse:hover {
    background-color: rgb(192, 192, 192);
  }
  
  .content {
      font-size:18px;
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #fcfcfc;
  }
  .collapse:after {
    content: '\002B';
    color:#ff6205;
   /*  color: white; */
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  .collapse-container{
      padding-top:50px;
      justify-content: center;
      width:900px;
  }
  h1{
      text-align:center;
  }

 /*--------------------IT-tjänster------------------*/
 #it-body{
    background-color:#f3f3f3;
 }
 .hero-it{
    background-image:url('images/internet-of-things-developer_thumb.jpg');
        display:flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
  
 .it-box{
    width:40%;
    font-size:19px;
    border:3px solid rgb(238, 238, 238);
    background-color:white;
    border-radius:5px;
    height:300px;
    margin:25px;
    padding: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.wifi{
    font-size:50px;
}
.wifi-password{
    font-size:30px;
}
/*--------------------Schema------------------*/
.hero-schema{
    background-image:url('images/byggproduktionsledare_nyproduktion_thumb.jpg');
        display:flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
       /*  position: relative; */
    }
    
.schema-container{
padding-top:50px;
}
/*--------------------Schoolsoft------------------*/
.hero-schoolsoft{
background-image:url('images/affarsutvecklare_thumb.jpg');
    display:flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   /*  position: relative; */
}

.schoolsoft-container{
    width:50%;
    height:600px;
  /*   border:1px solid black; */
  padding: 40px;
    font-size:20px;
}
.schoolsoft-wrapper,
.csn-wrapper{
  width:85%;
  margin:auto;
  display:flex;
}
#schoolsoft-video{
    padding:30px;
}
#schoolsoft-link{
    text-decoration:underline;
}

.read-more{

}
 /*--------------------Studieinfo------------------*/
.hero-studieinfo {
    background-image:url('images/byggproduktionsledare_nyproduktion_thumb.jpg');
    display:flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   /*  position: relative; */
}
footer{
   
    height:400px;
    background-color:black;
}
.footer-container{
    width:85%;
    margin:auto;
    justify-content: space-around;
    display:flex;
   
}
.footer-box{
 margin-top:50px;
    border:2px solid black;
    color:white;
}
footer p{
    font-size:20px;
}
@media (max-width: 991.98px){}

@media screen and (max-width: 768px){
    .info-box{
        width:30%;
        font-size:15px;
    
        height:100px;
        margin:0;
        padding: 20px;
    
    }
    .container{
        flex-wrap:wrap;
        justify-content: center;
    }
    .box{
        width:40%;
    }
}

@media screen and (max-width: 500px){}
