body{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size:60px;
    color: white;
}
h3{
    font-family:'Roboto Mono', monospace;
    color:#ff6205;
}
h4{
    font-size:22px;
}
a{
    text-decoration:none;
}
.wrapper{
    padding:50px 0;
    display:flex;
    flex-wrap:wrap;
   width:85%;
   margin:auto;
   justify-content: center;
}
/*   --------------------navbar------------------ */

nav{
    height:90px;
    display:flex;
    justify-content: space-between;
    font-size:25px;
    background-color: #f9f9f9; 
}
.left{
    margin:5px 0 0 10px;
}
#sidepanel  {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #f9f9f9; 
    overflow-x: hidden;
    transition: 0.5s;
    padding-top:80px;
  }
  
  #sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #070707;
    display: block;
    transition: 0.3s;
  }
  
  #sidepanel a:hover {
    color: #6e6e6e;
  }
  
  #sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 35px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    padding: 10px 15px;
    border: none;
  }
 
  #logo img{
      width:120px;
  }
/*-------------------index-----------------------*/
  .hero{
        background-image:url('images/byggproduktionsledare_nyproduktion_thumb.jpg');
            display:flex;
            justify-content: center;
            align-items: center;
            height: 500px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
      
        
        .box{
           margin:25px;
            width:20%;
            height:250px;
            border-radius:5px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size:30px;
            background-color:#f3f3f3;
            box-shadow: 5px 3px 3px grey;
            transition: transform .2s;
        }
        .box:hover {
            -ms-transform: scale(1.1); /* IE 9 */
            -webkit-transform: scale(1.1); /* Safari 3-8 */
            transform: scale(1.1); 
            background-color:rgb(212, 211, 211);
          }
      
/*   --------------------info om skolan------------------ */
.hero-info{
    background-image:url('images/byggproduktionsledare_nyproduktion_thumb.jpg');
        display:flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
   
.info-box{
   width:20%;
    font-size:19px;
   border-radius:10px;
    height:200px;
    margin:25px;
    padding: 50px;
    background-color:#f3f3f3;
}
.info-heading{
    color:black;
}
.info{
    text-align:center;
}
.icon{
    font-size:50px;
    color:#ff6205;
}

/*   --------------------CSN------------------ */
.hero-csn{
    background-image:url('images/byggproduktionsledare_nyproduktion_thumb.jpg');
        display:flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
   
  .csn-container{
      display:flex;
      justify-content: center;
      flex-wrap:wrap;
      width:50%;
      height:600px;
    padding: 40px;
      font-size:20px;
  }

  .video{
    width:500px;
    height:300px;
  }
  #csn-link{
      text-decoration:underline;
  }


  /*--------------------FAQ------------------*/
  .hero-faq{
    background-image:url('images/entrprenad-ingengor_thumb.jpg');
        display:flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
  .collapse {
    background-color:#e7e5e5;
    color:#ff6205;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    margin:2px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
  }
  
  .active, .collapse:hover {
    background-color: rgb(192, 192, 192);
  }
  
  .content {
      font-size:18px;
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #fcfcfc;
  }
  .collapse:after {
    content: '\002B';
    color:#ff6205;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  .collapse-container{
      padding-top:50px;
      justify-content: center;
      width:900px;
  }
  h1{
      text-align:center;
  }

 /*--------------------IT-tjänster------------------*/
 #it-body{
    background-color:#f3f3f3;
 }
 .hero-it{
    background-image:url('images/internet-of-things-developer_thumb.jpg');
        display:flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
  
 .it-box{
    width:40%;
    font-size:19px;
    background-color:white;
    border-radius:5px;
    height:300px;
    margin:25px;
    padding: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    box-shadow: 3px 1px 1px rgb(224, 224, 224);
}
.wifi{
    font-size:50px;
}
.wifi-password{
    font-size:30px;
}
#img-wifi{
    width:150px;
}
#img-meet{
    width:120px;
}
#img-classroom,
#img-slack{
    width:180px;
}
#img-hangouts{
    width:300px;
}
#img-discord{
    width:100px;
}
/*--------------------Schema------------------*/
.hero-schema{
    background-image:url('images/byggproduktionsledare_nyproduktion_thumb.jpg');
        display:flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
.schema-container{
padding-top:50px;
}
/*--------------------Schoolsoft------------------*/
.hero-schoolsoft{
background-image:url('images/affarsutvecklare_thumb.jpg');
    display:flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.schoolsoft-container{
    display:flex;
    justify-content: center;
    width:50%;
    height:600px;
  padding: 40px;
    font-size:20px;
}
.schoolsoft-wrapper,
.csn-wrapper{
  width:85%;
  margin:auto;
  display:flex;
}
.schoolsoft-text{
    font-size:20px;
}
#schoolsoft-link{
    text-decoration:underline;
}


 /*--------------------Studieinfo------------------*/
.hero-studieinfo {
    background-image:url('images/byggproduktionsledare_nyproduktion_thumb.jpg');
    display:flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
footer{
    background-color:black;
    padding:50px;
}
.footer-container{
    width:85%;
    margin:auto;
    justify-content: space-around;
    display:flex;
   
}
.footer-box{
 margin-top:50px;
    border:2px solid black;
    color:white;
}
footer p{
    font-size:20px;
}
.responsive {
    width: 100%;
    height: auto;
  }
  .footer-container{
    width:100%;
    display:flex;
   flex-wrap:wrap;
}





@media (max-width: 991.98px){
  .info-box{
      width:40%;
      padding:15px;
      height:250px;
  }  
  .csn-wrapper,
  .schoolsoft-wrapper{
      display:flex;
      flex-direction:row;

  }
  
  .csn-container,
  .schoolsoft-container {
    flex-wrap: nowrap;
    width: 50%;
   padding:50px 0 0;
    font-size: 17px;
}
.video{
    width:400px;
    height:200px;
   /*  margin:50px 0 0px 50px; */
  }
  .footer-box{
      width:45%;
  }
}
@media screen and (max-width: 768px){
    h1{
        font-size:40px;
    }
    .wrapper{
        width:100%;
    }
    .info-box{
        width:35%;
        font-size:14px;
        height:150px;
        padding: 20px;
    }
    .info-box h3{
        font-size:16px;
    }
    .icon{
        font-size:30px;
    }
    .container{
        flex-wrap:wrap;
        justify-content: center;
    }
    .box{
        width:40%;
        height:150px;
        font-size:18px;
        box-shadow: none;
    border:1px solid lightgrey;
    }
    .it-box{
        height:160px;
    }
    .it-box,
    a,
    p{
        font-size:15px;
    }
    #img-wifi{
        width:100px;
    }
    #img-meet{
        width:80px;
    }
    #img-classroom{
        width:90px;
        height:80px;
    }
    #img-slack{
        width:100px;
    }
    #img-hangouts{
        width:150px;
    }
    #img-discord{
        width:70px;
    }
    #logo img{
        width:90px;
    }
    .wifi-password{
        font-size:19px;
    }
   
    .csn-wrapper,
    .schoolsoft-wrapper{
        justify-content: center;
        width:100%;
        flex-direction:column;
    }

    .csn-container,
    .schoolsoft-container{
        width:90%;
        font-size:16px;
        display:flex;
        flex-wrap:wrap;
        height:100%;
    }
    .csn-text,
    .schoolsoft-text{
        padding:20px;
    }
      .footer-container{
         display:flex;
        flex-direction: column;  
    }
    footer p{
        font-size:16px;
    }
    footer h4{
        font-size:18px;
    }
}

@media screen and (max-width: 500px){
    h1{
        font-size:30px;
    }
    p{
        font-size:15px;
    }
    #sidepanel a{
        font-size:15px;
    }
    .wrapper{
        padding-top:10px;
    }
    .collapse-container{
        padding-top:20px;
    }
    .video{
        width:300px;
        margin-left:30px;
    
      }
      .schoolsoft-text,
      .csn-text{
          padding:0 0 50px 20px;
      }
 
  .info-box{
    width:90%;
   }
   .info-box p{
       font-size:14px;
   }
   .info-box h3{
       font-size:15px;
   }
   .csn-text{
       width:100%;
   }
  
    .box{
        margin: 9px;
    width: 43%;
    height: 90px;
    font-size: 15px;
    
}
    .it-box{
        width:100%;
        height:150px;
        text-align:center;
    }
    #img-wifi{
        width:80px;
    }
    #img-classroom,
#img-slack{
    width:90px;
}
#img-meet{
    width:60px;
}
#img-discord{
    width:55px;
}

footer{
    padding:5px;
}
.footer-box {
    padding: 10px 0 0 20px;
}
footer p{
    font-size:16px;
}
footer h4{
    font-size:18px;
}
}

